[user]
	name  = Adam Lee
	email = adam8157@gmail.com
	signingkey = 2365E9762F39D84D
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[color]
	branch      = auto
	diff        = auto
	grep        = auto
	interactive = auto
	status      = auto
[push]
	default = simple
[alias]
	ai = add -i
	b  = branch
	c  = commit
	ca = commit -a
	co = checkout
	cp = cherry-pick
	d  = difftool -M
	dc = difftool -M --cached
	lp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)<%an>%Creset'
	r  = rebase
	ri = rebase -i
	rs = !git ls-files -d |xargs git checkout --
	s  = status
	t  = tag
	up = remote update --prune
	ur = pull --rebase
	w  = show
	wc = show --raw
	whatchanged = log --raw
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[sendemail]
	confirm = always
	suppresscc = self
	thread = true
	chainreplyto = false
	bcc = adam8157@gmail.com
	smtpserver = /usr/bin/msmtp
	smtpserveroption = "--account=gmail"
