[user]
    name  = Adam Lee
    email = adam8157@gmail.com
[color]
    branch = auto
    diff   = auto
    grep   = auto
    status = auto
[push]
    default = matching
[alias]
    a  = add
    b  = branch
    c  = commit
    co = checkout
    d  = diff
    de = describe --tags
    dt = difftool
    l  = log
    lg = log --graph
    m  = merge
    mt = mergetool
    pl = pull
    pu = push
    s  = status
    t  = tag
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[github]
    user = adam8157
