[user]
	name  = Adam Lee
	email = adam8157@gmail.com
[color]
	branch = auto
	diff   = auto
	grep   = auto
	status = auto
[push]
	default = matching
[alias]
	a  = add
	b  = branch
	c  = commit
	co = checkout
	d  = difftool
	l  = log --graph
	m  = mergetool
	pu = push
	s  = status
	t  = tag
	up = pull
	ut = rm -r --cached
	w  = show
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
