<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox">
			<item label="Exit">
				<action name="Exit"/>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
			<item label="Obconf">
				<action name="Execute">
					<execute>
						obconf
					</execute>
				</action>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
		<!--<separator />-->
		<!--<menu id="Debian" />-->
		<!--<separator />-->
		<!--<menu id="client-list-menu" />-->
	</menu>
</openbox_menu>
